In [58]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

In [59]:

stars_dataset = pd.read_csv('Stars.csv')

In [60]:
stars_dataset.head()

   Temperature         L       R    A_M  Color  Spectral_Class  Type
0         3068  0.002400  0.1700  16.12      0               0     0
1         3042  0.000500  0.1542  16.60      0               0     0
2         2600  0.000300  0.1020  18.70      0               0     0
3         2800  0.000200  0.1600  16.65      0               0     0
4         1939  0.000138  0.1030  20.06      0               0     0

In [61]:
stars_dataset.isnull()

     Temperature      L      R    A_M  Color  Spectral_Class   Type
0          False  False  False  False  False           False  False
1          False  False  False  False  False           False  False
2          False  False  False  False  False           False  False
3          False  False  False  False  False           False  False
4          False  False  False  False  False           False  False
..           ...    ...    ...    ...    ...             ...    ...
235        False  False  False  False  False           False  False
236        False  False  False  False  False           False  False
237        False  False  False  False  False           False  False
238        False  False  False  False  False           False  False
239        False  False  False  False  False           False  False

[240 rows x 7 columns]

In [62]:
stars_dataset.shape

(240, 7)

In [63]:
stars_dataset['Type'].value_counts()

0    40
1    40
2    40
3    40
4    40
5    40
Name: Type, dtype: int64

In [64]:
# memiahkan data dan label
X = stars_dataset.drop (columns='Type',axis=1)
Y = stars_dataset['Type']

In [65]:
print(X)

     Temperature              L          R    A_M  Color  Spectral_Class
0           3068       0.002400     0.1700  16.12      0               0
1           3042       0.000500     0.1542  16.60      0               0
2           2600       0.000300     0.1020  18.70      0               0
3           2800       0.000200     0.1600  16.65      0               0
4           1939       0.000138     0.1030  20.06      0               0
..           ...            ...        ...    ...    ...             ...
235        38940  374830.000000  1356.0000  -9.93      6               2
236        30839  834042.000000  1194.0000 -10.63      6               2
237         8829  537493.000000  1423.0000 -10.73      7               3
238         9235  404940.000000  1112.0000 -11.23      7               3
239        37882  294903.000000  1783.0000  -7.80      6               2

[240 rows x 6 columns]

In [66]:
print(Y)

0      0
1      0
2      0
3      0
4      0
      ..
235    5
236    5
237    5
238    5
239    5
Name: Type, Length: 240, dtype: int64

In [67]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=2)

In [68]:
print(X.shape, X_train.shape, X_test.shape)

(240, 6) (192, 6) (48, 6)

In [69]:
classifier = svm.SVC(kernel='linear')

In [70]:
classifier.fit(X_train, Y_train)

SVC(kernel='linear')

In [71]:
X_train_prediction = classifier.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [72]:
X_test_prediction = classifier.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [73]:
print('Akurasi data testing adalah=', test_data_accuracy)

Akurasi data testing adalah= 1.0

In [79]:
input_data = (3490,270000,1520,-9.4,0,0)

input_data_as_numpy_array = np.array(input_data)

input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = classifier.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 0):
    print('Bintang Tipe Red Dwarf')
elif(prediction[0]==1):
    print('Bintang Tipe Brown Dwarf')
elif(prediction[0]==2):
    print('Bintang Tipe White Dwarf')
elif(prediction[0]==3):
    print('Bintang Tipe Main Sequence')
elif(prediction[0]==4):
    print('Bintang Tipe Super Giants')
else :
    print('Bintang Tipe Hyper Giants')

[5]
Bintang Tipe Hyper Giants

c:\Users\Rosma AP\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but SVC was fitted with feature names
  warnings.warn(

In [80]:
import pickle

In [81]:
filename = 'star_model.sav'
pickle.dump(classifier, open(filename,'wb'))